@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

header {
display: grid;
grid-template-columns: 200px auto ;
background-color: #9b2226;
}

#hero-img{
width: 100%;    
height: 800px;
box-shadow: 5px 5px 10px white ;

}
.hero-img{
    box-shadow: 5px 5px 10px white ;
}
.logo{
width: 100px;  
border: white;  
box-shadow: 5px 5px 10px white ;
}
nav{
display: flex;    
justify-content: space-around ;
color: black;
text-align: center;
align-items: center;
padding: 10px;
}

nav a:hover{
color: white;
background-color: #396E94;
box-sizing: border-box;
align-items: center;
justify-items: center;
border-color: black;
}


nav, footer{
    flex-direction: row;
}
nav a{
    display: block;
    padding: 15px;
}
h1{
text-align:left 

}
h4{
   font-family: 'Bree Serif', sans-serif;

}
p {
display: grid;
text-align:left;    
background-color: #005f73;
font-family: 'Bree Serif', sans-serif;
position: absolute;
left: 30px;
width: 350px;
box-shadow: 5px 5px 10px white ;
padding: 10px;


}
.image2-card{
  

position: absolute;
right: 80px;
width: 60%;
box-shadow: 5px 5px 10px white ;

}
.home-grid{
display: grid;
grid-column: 3/5;
grid-row: 1/2;

}
#background{
background-color: #9b2226;    
}

.home-title{
    background-color: #005f73;
    font-family: "rock salt";
    border: 5px double;

}
body{
    background-color: #9b2226;
}
footer{
    background-color: #005f73;
    padding: 25px 50px;
    margin-top: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    padding: 25px 50px;
    border: 5px double;
}
footer .social img {
    padding-top: 15px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 150px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 