@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


header {
    display: grid;
    grid-template-columns: 200px auto ;
    background-color: #9b2226;
}
#hero-img{
    width: 100%;    
    height: 800px;
    box-shadow: 5px 5px 10px white ;
}
.hero-img{
    box-shadow: 5px 5px 10px white ;
}
.logo{
width: 100px;  
border: white;  
box-shadow: 5px 5px 10px white ;
}