@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

header {
display: grid;
grid-template-columns: 200px auto ;
background-color: #9b2226;
}

#hero-img{
width: 100%;    
height: 800px;
box-shadow: 5px 5px 10px white ;
position: relative;
}
h2{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "rock salt";
    
}
.hero-img{
    box-shadow: 5px 5px 10px white ;
}
.logo{
width: 100px;  
border: white;  
box-shadow: 5px 5px 10px white ;
}
nav{
display: flex;    
justify-content: space-around ;
color: black;
text-align: center;
align-items: center;
padding: 10px;
}
nav a:hover{
    color: white;
    background-color: #396E94;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    border-color: black;
}
nav, footer{
    flex-direction: row;
}
body{
    display: grid;
}
.image3-card{
    float: left;
    width: 45%;
    width: 300px;
    padding: 35px;
    text-align: right;
    
  

}

.image4-card{
    float: left;
    width: 40%;
    width: 250px;
    padding: 35px;
    text-align: right
}
.image5-card{
    float: left;
    width: 40%;
    width: 250px;
    padding: 35px;
    text-align: center;
}
.home-grid::after {

    content: "";
    clear: both;
    display: table;

}
p{
    content: "";
    clear: both;
    display: block;
    text-align: center;
    border-style: groove;
    background-color: #005f73;
    
    
}
#background{
    background-color: #9b2226;    
    }
    
    .home-title{
        background-color: #005f73;
        font-family: "rock salt";
        border: 5px double;
    
    }
    body{
        background-color: #9b2226;
    }
    footer{
        background-color: #005f73;
        padding: 25px 50px;
        margin-top: 0 px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: underline;
        padding: 25px 50px;
        border: 5px double;
    }
    footer .social img {
        padding-top: 15px;
    }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-left: 150px;
        
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add an active class to highlight the current page */
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
      
      /* Hide the link that should open and close the topnav on small screens */
      .topnav .icon {
        display: none;
      }