div {
   max-width: 1600px; 
   margin: 0 auto;
   text-align: center;
}
nav a {
    text-align: center;
    text-decoration: none;
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
    color: black;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: #e9c46a;
}
header{
    background-color: #2a9d8f;
}
nav {
    color: #14213d;
}

nav a:hover {
    background-color: #14213d;
    color: black;    

}
.home-title {
    color: black;
}
.book, .join{
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover{
    color:black ;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}
footer h3{
    color: black;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #14213d;
}
footer h3:hover{
    text-decoration: underline;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 100%;
}

