div {
    max-width: 1600px; 
    margin: 0 auto;
    text-align: center;
 }
 nav  {
     text-align: center;
     text-decoration: none;

 }
 a {
     text-align: center;
     text-decoration: none;
    
 }
 h1 {
     text-align: center;
 }
 h4 {
     text-align: center;
     color:black;
 }
 .button-box {
     text-align: center;
 }
 main {
     text-align: center;
 }
 #background {
     height: 725px;
 }
 body{
     background-color: #e9c46a;
 }
 header{
     background-color: #2a9d8f;
     display: grid;
     grid-template-columns: 150px auto;
 }
 nav {
     color: #14213d;
     display: flex;
     justify-content: space-around; 
 }
 
 nav a:hover {
     background-color: #14213d;
     color: black;    
 
 }
 .home-title {
     color: black;
     font-size: 25px;
     color: #14213d;
     
 }
 .book, .join{
     color: black;
     text-decoration: none;
 }
 .book:hover, .join:hover{
     color:black ;
 }
 .msg h2 {
     color: black;
 }
 .msg p {
     color: black;
     display: grid;
     


 }
 footer h3{
     color: black;
 }
 footer a{
     color: black;
     text-decoration: none;
 }
 footer a:hover{
     color: #14213d;
 }
 footer h3:hover{
     text-decoration: underline;
 }
 .icon {
     width: 80px;
 }
 .logo {
     width: 80px;
     
 }
 #hero-img{
     width: 100%;
     border: 10px solid #14213d;
     transition: transform .5s;
     box-shadow: 5px 5px 10px #14213d;

 }
 #hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
 }
 .card-img{
    border: 10px solid #14213d;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #14213d;
 }

.rivers-card{
    
    grid-column: 2/4;
    grid-row: 2/3;
}
 footer{
    background-color: #2a9d8f;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    padding: 25px 50px;

 }
 .logo {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}