@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

 



div {
    max-width: 1600px; 
    margin: 0 auto;
    text-align: center;
 }
 nav a {
     text-align: center;
     text-decoration: none;
     padding: 35px;


 }
 a {
     text-align: center;
     text-decoration: none;
    
 }
 h1 {
     text-align: center;
     grid-column: 1/2;
     grid-row: 4/8;

     
 }
 h2 {
     margin: 0;

 }
 h4 {
     text-align: center;
     color: black;
     grid-column: 1/2;
     grid-row: 4/8;
     display: grid;
     
 }
 .button-box {
     text-align: center;
 }
 main {
     text-align: center;
     box-sizing: border-box;
     display: grid;

     
 }
 main section img {
     box-sizing: border-box;
 }
 #background {
     height: 725px;
 }
 body{
     background-color: #e9c46a;
     font-family: 'Bree Serif'sans-serif;
     font-size: 22px;
     margin: 0;
     padding: 0;
 }
 header{
     background-color: #2a9d8f;
     display: grid;
     grid-template-columns: 150px auto;
 }
 nav {
     color: #14213d;
     display: flex;
     justify-content: space-around;   
 }
 
 nav a:hover {
     background-color: #14213d;
     color: black;    
 
 }
 .home-title {
     color: white;
     font-family: 'Bree Serif', sans-serif;
     font-size: 2em;
     margin-top: 10px;
     display: grid;
     grid-column: 4/7;
     grid-row: 1/2;
 }
 .book, .join{
    background-color: #14213d;
     color:black;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px;

 }
 .card-img{
     border: 10px solid #14213d;
     transition: transform .5s;
     box-shadow: 5px 5px 10px #14213d;
 }
 .card-img, .mountains{
     width: 100%;
 }
 .card-img:hover{
     opacity: .6;
     transform:scale(1.1);
 }
 .mountains{
     width: 100%;
     grid-column: 2/7;
     grid-row: 5/8;
     box-shadow: 5px 5px 10px #14213d;
 }

 .rivers-card,.camping-card, .rapids-card{
     margin: 200px 0;
 }
 .book:hover, .join:hover{
     color:black ;
 }
 .msg h2 {
     color: black;
     font-family: 'Bree Serif', sans-serif;

 }
 .msg {
     background-color: #2a9d8f;
     line-height: 1.5em;
     padding: 35px;
     grid-column: 6/10;
     grid-row: 6/7;
     box-shadow: 5px 5px 10px #14213d ;


 }

 .msg p {
     color: black;
     font-family: 'Bree Serif', sans-serif;
     padding-bottom: 15px;
     
 }
 footer h3{
     background-color: #2a9d8f;
     color: black;
     padding: 25px 50px;
     display: contents;
 }
 footer a{
     color: black;
     text-decoration: none;
     padding: 25px 50px;
 }
 footer a:hover{
     color: #14213d;
 }
 footer h3:hover{
     text-decoration: underline;
     padding: 25px 50px;
     
 }
 footer .social img {
     padding-top: 15px;
     
 }
 footer{
    background-color: #2a9d8f;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    padding: 25px 50px;

 }
 .icon {
     width: 80px;
     padding-top: 10px;
 }
 .logo {
     width: 80px;
     padding-top: 5px;
     justify-self: center;
     align-self: center;
 }
 #logo_link {
     padding-top: 5px;
     justify-self: center;
     align-self: center;

 }
 #hero-img{
     width: 100%;
 }
 #hero {
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;
     margin-top: -100px;
 }
 #hero-box{
     grid-column: 1/4;
     grid-row: 1/3;
     z-index: -1;
 }
 #hero-msg h4{
     color: white;
 }
 #hero {
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;
     margin-top: -100px;
 }
 #hero-msg{
     grid-column: 2/3;
     grid-row: 1/2;
     margin-top: 100px;
 }
 .rivers-card{
     
     grid-column: 2/4;
     grid-row: 2/3;

 }
 .camping-card{
     grid-column: 5/7;
     grid-row: 2/3;
    
 }
 .rapids-card{
     grid-column: 8/10;
     grid-row: 2/3;

 }
 #background{
     grid-column: 1/11;
     grid-row: 4/9;
 }
 .msg{
     grid-column: 6/10;
     grid-row: 6/7;
 }
 @media screen and (max-width: 900px) {
    #hero, .home-grid{
        display: block;
        height: auto; 
    
    
}
nav, footer{
    flex-direction: column;
}
nav a{
    display: block;
    padding: 15px;
}
#hero{
    margin-top: 0;
}
#hero-msg{
    margin-top: 0;

}
#hero-msg h4{
    display: none;
}
.home-title{
    font-size: 25px;
    color: #14213d;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 50px auto;
    width: 60%;
}
 #background{
     display: none;
 }
 .mountains,.msg{
     width: 80%;
     display: block;
     margin: 0 auto;
 }
 footer {
     margin-top: 25px;
 }
 }
 
 