@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

 



div {
    max-width: 1600px; 
    margin: 0 auto;
    text-align: center;
 }
 nav a {
     text-align: center;
     text-decoration: none;
     padding: 35px;


 }
 a {
     text-align: center;
     text-decoration: none;
    
 }
 h1 {
     text-align: center;
     
 }
 h2 {
     margin: 0;

 }
 h4 {
     text-align: center;
     color: black;
 }
 .button-box {
     text-align: center;
 }
 main {
     text-align: center;
     box-sizing: border-box;
     
 }
 main section img {
     box-sizing: border-box;
 }
 #background {
     height: 725px;
 }
 body{
     background-color: #e9c46a;
     font-family: 'Bree Serif'sans-serif;
     font-size: 22px;
     margin: 0;
     padding: 0;
 }
 header{
     background-color: #2a9d8f;
 }
 nav {
     color: #14213d;
 }
 
 nav a:hover {
     background-color: #14213d;
     color: black;    
 
 }
 .home-title {
     color: black;
     font-family: 'Bree Serif', sans-serif;
     font-size: 2em;
     margin-top: 10px;
 }
 .book, .join{
    background-color: #14213d;
     color:black;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px;

 }
 .card-img{
     border: 10px solid #14213d;
 }

 .rivers-card,.camping-card, .rapids-card{
     margin: 200px 0;
 }
 .book:hover, .join:hover{
     color:black ;
 }
 .msg h2 {
     color: black;
     font-family: 'Bree Serif', sans-serif;

 }
 .msg {
     background-color: #2a9d8f;
     line-height: 1.5em;
     padding: 35px;


 }

 .msg p {
     color: black;
     font-family: 'Bree Serif', sans-serif;
     padding-bottom: 15px;
     
 }
 footer h3{
     background-color: #2a9d8f;
     color: black;
     padding: 25px 50px;
 }
 footer a{
     color: black;
     text-decoration: none;
     padding: 25px 50px;
 }
 footer a:hover{
     color: #14213d;
 }
 footer h3:hover{
     text-decoration: underline;
     padding: 25px 50px;
 }
 footer .social img {
     padding-top: 15px;

 }
 footer{
     margin-top: 200px;
 }
 .icon {
     width: 80px;
     padding-top: 10px;
 }
 .logo {
     width: 80px;
 }
 #logo_link {
     padding-top: 5px;

 }
 #hero-img{
     width: 100%;
 }
 
 